@using Timesheets.Core.ViewModels
@model IEnumerable<TimesheetViewModel>

@{
    Layout = "_Layout";
}

<div class="timesheets-display">
    <div class="timesheets-display__message">
        <h1>
            Timesheets
        </h1>
    </div>
    <div class="timesheets-display__buttons">
        <a href="/Timesheet/Add">Log work</a>
        <a href="/Home/CsvTimesheetExport">Export to CSV</a>
    </div>
    <table class="timesheets-display__table">
        <tr class="timesheets-display__row--heading">
            <th class="timesheets-display__heading timesheets-display__heading--text">
                User name
            </th>
            <th class="timesheets-display__heading timesheets-display__heading--date">
                Date
            </th>
            <th class="timesheets-display__heading timesheets-display__heading--text">
                Project
            </th>
            <th class="timesheets-display__heading timesheets-display__heading--text">
                Description of tasks
            </th>
            <th class="timesheets-display__heading timesheets-display__heading--number">
                Hours worked
            </th>
            <th class="timesheets-display__heading timesheets-display__heading--number">
                Total hours for the day
            </th>
        </tr>
        @foreach (var timesheet in Model)
        {
            <tr>
                <td class="timesheets-display__cell timesheets-display__cell--text">
                    #@timesheet.UserId @timesheet.UserName
                </td>
                <td class="timesheets-display__cell timesheets-display__cell--date">
                    @timesheet.Date
                </td>
                <td class="timesheets-display__cell timesheets-display__cell--text">
                    @timesheet.ProjectName
                </td>
                <td class="timesheets-display__cell timesheets-display__cell--text">
                    @timesheet.Memo
                </td>
                <td class="timesheets-display__cell timesheets-display__cell--number">
                    @timesheet.Hours
                </td>
                <td class="timesheets-display__cell timesheets-display__cell--number">
                    @timesheet.TotalHours
                </td>
            </tr>
        }
    </table>
</div>
