@using Timesheets.Web.Persistence;
@inject TimesheetDbContext timesheetDbContext;

@{
    Layout = "/Views/Shared/_Layout.cshtml";

    var timesheets = timesheetDbContext.Timesheets;
}

<table class="timesheets-display">
    <tr class="timesheets-display__row--heading">
        <th class="timesheets-display__heading timesheets-display__heading--text">
            Name
        </th>
        <th class="timesheets-display__heading timesheets-display__heading--date">
            Date
        </th>
        <th class="timesheets-display__heading timesheets-display__heading--text">
            Project
        </th>
        <th class="timesheets-display__heading timesheets-display__heading--text">
            Memo
        </th>
        <th class="timesheets-display__heading timesheets-display__heading--number">
            Hours
        </th>
    </tr>
    @foreach (var timesheet in timesheets)
    {
        <tr>
            <td class="timesheets-display__cell timesheets-display__cell--text">
                @timesheet.Name
            </td>
            <td class="timesheets-display__cell timesheets-display__cell--date">
                @timesheet.Date.ToString("dd/MM/yyyy")
            </td>
            <td class="timesheets-display__cell timesheets-display__cell--text">
                @timesheet.ProjectId
            </td>
            <td class="timesheets-display__cell timesheets-display__cell--text">
                @timesheet.Memo
            </td>
            <td class="timesheets-display__cell timesheets-display__cell--number">
                @timesheet.Hours
            </td>
        </tr>
    }
</table>