@using Timesheets.Web.Ui.ViewModels
@model AddTimesheetViewModel

@{
    Layout = "_Layout";
}

<div class="timesheets-add">
    <div class="timesheets-add__message">
        <h1>
            Add your timesheet entry below
        </h1>
    </div>
    <div class="timesheets-add__buttons">
        <a href="/">View sheets</a>
    </div>
    <div class="timesheets-add__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="person">Person</label>
                <select id="person" name="person">
                    <option>Choose a person...</option>
                    @foreach (var person in Model.Persons)
                    {
                        <option value="@person.Id">@person.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="date">Date</label>
                <input id="date" name="date" type="date" />
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="project">Projects</label>
                <select id="project" name="project">
                    <option>Choose a project...</option>
                    @foreach (var project in Model.Projects)
                    {
                        <option value="@project.Id">@project.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="hours">Hours</label>
                <input id="hours" name="hours" type="number" min="0.25" step="0.25" />
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="memo">Memo</label>
                <input id="memo" name="memo" type="text" />
            </div>
            <div class="timesheets-add__form-input">
                <button type="submit">Add</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
</div>