@using Timesheets.Core.Persistence
@using Timesheets.Core.Persistence.Models
@using Timesheets.Core.ViewModels
@model Timesheet
@inject TimesheetDbContext ctx;

@{
    Layout = "_Layout";

    List<User> Users = [.. ctx.Users];
    List<Project> Projects = [.. ctx.Projects];
}

<div class="timesheets-forms">
    <div class="timesheets-forms__message">
        <h1>
            Add your timesheet entry below
        </h1>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
            <h2 class="timesheets-forms__error">@ViewBag.Error</h2>
        }
    </div>
    <div class="timesheets-forms__buttons timesheets-forms__buttons--top">
        <a href="/Project/Add">Add a new project</a>
        <a href="/Project/Delete">Delete a project</a>
        <a href="/User/Add">Add a new user</a>
        <a href="/User/Delete">Delete a user</a>
    </div>
    <div class="timesheets-forms__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="user">User</label>
                <select required id="user" name="userId">
                    <option value="">Choose a user...</option>
                    @foreach (var user in Users)
                    {
                        <option value=@user.Id>#@user.Id @user.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="date">Date</label>
                <input required id="date" name="date" type="date" />
            </div>
            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="project">Projects</label>
                <select required id="project" name="projectId">
                    <option value="">Choose a project...</option>
                    @foreach (var project in Projects)
                    {
                        <option value=@project.Id>@project.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="hours">Hours</label>
                <input required id="hours" name="hours" type="number" min="0.25" step="0.25" />
            </div>
            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="memo">Memo</label>
                <input required id="memo" name="memo" type="text" />
            </div>
            <div class="timesheets-forms__form-input">
                <button type="submit">Add</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
    <div class="timesheets-forms__buttons">
        <a href="/">Back to timesheets</a>
    </div>
</div>
